* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

.wrapper {
    position: relative;
}

.content,
.about,
.new,
.visit,
.contact {
    position: sticky;
    top: 0;
    height: 100vh;
}

.effect-1 {
    background-image: url("../Assets/milky-way-2695569__480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* box-sizing: content-box; */
    /* overflow: hidden; */
    position: relative;
}

.effect-1::after {
    content: "";
    /* background: #8844fd;
    opacity: 0.5;
    z-index: 3; */
}

.shadow_1 {
    background: linear-gradient(to top, #0a1931, transparent);
    bottom: 0;
    width: 100%;
    position: relative;
    top: -50vh;
    height: 50vh;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    word-spacing: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-title {
    font-weight: 400;
    word-spacing: 0.4rem;
}

.about,
.new,
.visit,
.contact {
    background: linear-gradient(to bottom, #0a1931, #0a1931);
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    color: white;
}

.about h1 {
    padding-top: 15%;
    padding-left: 20%;
    position: relative;
}

.description {
    text-align: left;
    padding-left: 20%;
    padding-top: 2%;
    text-overflow: clip;
    position: relative;
    float: left;
    padding-right: 40%;
    height: 40%;
}

.new h1,
.visit h1,
.contact h1 {
    padding-top: 15%;
    padding-left: 20%;
    position: relative;
}


/* .new {
    background: linear-gradient(to bottom, #0a1931, #0a1931);
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    height: 730px;
    color: white;
} */